body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  background: #222;
  background-image: url("https://source.unsplash.com/1600x900/?landscape");
  font-size: 120%;
}

.card {
  background: #000000;
  color: white;
  padding: 2em;
  border-radius: 30px;
  width: 100%;
  max-width: 420px;
  margin: 1em;
  
  background: rgb(34, 193, 195);
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
}

.heading {
  text-align: center;
  margin: -0.5em;
  margin-bottom: 1.5em;
  font-size: 180%;
  font-weight: 1000;
  letter-spacing: 0.1em;
  
  text-shadow: 0 0 10px #000808, 0 0 10px #001312, 0 0 10px #0ff, 0 0 10px #0ff,
    0 0 10px #0ff, 0 0 10px #0ff, 0 0 10px #0ff, 0 0 10px #0ff;

  color: #fff;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
}

input.search-bar {
  border: none;
  outline: none;
  padding: 0.4em 1em;
  border-radius: 24px;
  background: #3131314b;
  color: rgb(255, 255, 255);
  font-family: inherit;
  font-size: 110%;
  width: calc(100% - 100px);
  text-align: center;
}

input::placeholder {
  color: #ffffff;
}

button {
  margin: 0.5em;
  border-radius: 50%;
  border: none;
  height: 46px;
  width: 46px;
  outline: none;
  background: #3131314b;
  color: white;
  cursor: pointer;
}

button:hover,
.search-bar:hover {
  background: #3131316b;
}

h1.temp {
  margin: 0;
  margin-bottom: 0.5em;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather {
  text-align: center;
}

.description {
  text-transform: capitalize;
  margin-left: 8px;
}

.weather.loading {
  visibility: hidden;
  max-height: 25px;
  position: relative;
}

.weather.loading:after {
  visibility: visible;
  content: "Loading...";
  color: white;
  position: absolute;
  top: 0;
  left: 20px;
}
